<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
 -->
<ion-content padding>
  <ng-container *ngIf="doDebug">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p>test: 50 debug device test ukwevview</p>
    <p>{{ options }}</p>
    <button ion-button secondary (click)="startBrowser()">open smpl talk using inAppBrowser</button>

    <button ion-button secondary (click)="showBrowser()">show browser</button>
    <button ion-button secondary (click)="toggleDebug()">toggleDebug status: {{!doDebug ? 'nope' : 'yup'}}</button>

    <p *ngIf="browser" [style.background]="'grey'">{{ JSON.stringify(browser) }}</p>
    
    <p>nativeAppModeActivated: {{nativeAppModeActivated ? 'yup' : 'nope'}}</p>

    <p>browserLoopActive: {{ browserLoopIsActive ? 'yup' : 'nope' }} {{ browserLoopCount }} | web: {{ webTimestamp }} | native: {{ nativeTimestamp }}</p>
    <p>{{ loggingIn ? 'logging in..' : 'not logging in'}} | {{ loginCount }}</p>
    <p>fbUser: {{ fbUser ? (fbUser.email + ' | ' + fbUser.uid) : 'no fbUser found' }}</p>
    <p>users: {{ !users.length ? ' (none)' : users.length}}</p>
    <p *ngFor="let user of users">{{ user.key }} | {{ user.email }}</p>
    <p>device: {{ device ? JSON.stringify(device) : "(No device)" }}</p>

    <p>errors: {{ !errors.length ? ' (none)' : errors.length}}</p>
    <p *ngFor="let error of errors">{{JSON.stringify(error)}}</p>

    <p>fbUpdates: {{ !fbUpdates.length ? ' (none)' : fbUpdates.length}}</p>
    <p *ngFor="let fbUpdate of fbUpdates">{{JSON.stringify(fbUpdate)}}</p>

    <button ion-button (click)="browserTest()">browserTest</button>
    <button ion-button (click)="browserLoopFunction()">browserLoopFunction once</button>
    <button ion-button (click)="browserLoopFunction(6000)">browserLoopFunction 6000</button>
  </ng-container>
</ion-content>
