<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p>test: 42 iOS executeScripts test 2</p>
  <p>{{ options }}</p>
  <button ion-button secondary (click)="startBrowser()">open smpl talk using inAppBrowser</button>

  <button ion-button secondary (click)="browser.show()">show browser</button>
  <button ion-button secondary (click)="toggleDebug()">toggleDebug status: {{!doDebug ? 'nope' : 'yup'}}</button>

  <p *ngIf="browser" [style.background]="'grey'">{{ JSON.stringify(browser) }}</p>
  <p>browserLoopActive: {{ browserLoopIsActive ? 'yup' : 'nope' }} | web: {{ webTimestamp }} | native: {{ webTimestamp }}</p>
  <p>{{ loggingIn ? 'logging in..' : 'not logging in'}}</p>
  <p>{{user ? (user.email + ' | ' + user.uid) : 'no user found' }}</p>

  <p *ngFor="let user of users">{{ user.key }} | {{ user.email }}</p>
  <p *ngIf="device">{{ JSON.stringify(device) }}</p>

  <p>{{ test ? test : 'Nope iOS sucks' }}</p>
  <p>{{ test2 ? test2 : 'Nope iOS sucks 2' }}</p>
  <p>Promise test: {{promiseTest}}</p>

</ion-content>
