// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.svg-icon {
  display: inline-block;
  /*fill: rgba(0,0,0,0.87);
  width: 24px;
  height: 24px;*/

  stroke-width: inherit;
  stroke: inherit;
  fill: inherit;
  width: inherit;
  height: inherit;

  /*TODO: verify this isn't needed Prevents jQuery / polyfill throwing random errors about clicking svg-icons
  pointer-events: none;*/
}
.svg-icon.normal {
    width: 24px;
    height: 24px;
}

body {
    // background-color: #fafafa;
}

img {
    max-width: 122px;
}

page-smpl-talk {
	background-color: #fafafa;
}

.keep-white-space {
	white-space: pre-wrap;
}

.container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    font-family: Roboto;
    overflow: hidden;
	margin: 8px;
}

.logo {
    order: 1;
    z-index: 2;
    border-bottom: 2px solid #01a1dd
}

.error-content {
    order: 2;
    flex-grow: 1;
    z-index: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block-icon {
    color: rgba(255, 255, 255, 1);
    fill: rgba(255, 255, 255, 1);
    font-size: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

p {
    width: 100%;
    text-align: center;
}

.error-type {
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    color: #01a1dd;
    margin-bottom: 10px;
    margin-top: 0px;
}

.error-description {
    font-size: 2em;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

li {
    padding-top: 5px;
}

span, a {
    text-decoration: none;
    color:#01a1dd;
}

button {
    span, a {
        color: white;
    }
}

.more-details {
    width: 100%;
}

.error-options {
    font-weight: 700
}

.error-dropdown {
    text-align: center;
    margin-left: 5%;
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-size: 0.8em;
    z-index: 499;
}

.error-dropdown p {
    margin-bottom: 15px;
    width: auto;
}

arrow {
    color:  #01a1dd;
    fill:  #01a1dd;
}

.dev-details {
    background-color:   #01a1dd;
    width: 100vw;
    height: 100vh;
    text-align: left;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
}

.dev-details-container {
    // white-space: pre-wrap;
    padding: 10px 10px 10px 10px;
    background-color: rgba(250, 250, 250, 0.5);
    width: 90vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    overflow: auto;
}

.escape {
    position: absolute;
    color: rgba(250, 250, 250, 1.0);
    fill: rgba(250, 250, 250, 1.0);
    top: 5px;
    right: 5px;
    font-size: 36px;
    width: 36px;
    height: 36px;
}
