<div class="container">
  <svg class="svg-icon block-icon">
    <use xlink:href="#block"></use>
  </svg>
  <div class="logo">
    <img src="https://firebasestorage.googleapis.com/v0/b/ourg-2c585.appspot.com/o/Networks%2FSMPL%2FOrgs%2FSMPL%20Headquarters%2Fcropped%2F-L83sRJBxYDYc-3YIQ_U%2F180118_smpl_talk_app_bannerlogo_black.png?alt=media&token=c11b7068-1dfc-4b08-a982-dd160420da3a">
  </div>
  <div class="error-content">
    <p class="error-description">{{errorDescription}}</p>
    <p class="error-type">{{errorTitle}}</p>
    <div class="more-details">
      <p class="error-options">Still having trouble?</p>
      <ul>
        <li><span>+</span> Clear your cache</li>
        <li><span>+</span> Close and reopen the app</li>
        <li><span>+</span> Click <a [href]="browserUrl || 'https://smpltalk.com/'" target="_blank">here</a> to use the browser version</li>
      </ul>
    </div>
  </div>
  <div class="error-dropdown" (click)='toggleDropdown()'>
    <p>View Advanced Diagnostics</p>
    <svg class="svg-icon normal large arrow">
      <use xlink:href="#arrow_drop_up"></use>
    </svg>
  </div>
  <div *ngIf="this.showDropdown" class="dev-details">
    
    <svg class="svg-icon large escape" (click)='toggleDropdown()'>
      <use xlink:href="#cancel"></use>
    </svg>

    <!-- Error listing -->
    <div class="dev-details-container">
      <!-- Debug mode -->
      <ng-container *ngIf="doDebug">
        <p>Test 53: Error/debug</p>
        <p class="keep-white-space">Options: {{ options }}</p>

        <button ion-button secondary (click)="showBrowser()">show browser</button>
        <button ion-button secondary (click)="toggleDebug()">toggleDebug status: {{!doDebug ? 'On' : 'Off'}}</button>

        <p class="keep-white-space" *ngIf="browser" [style.background]="'grey'">{{ JSON.stringify(browser) }}</p>
        
        <p class="keep-white-space">nativeAppModeActivated: {{nativeAppModeActivated ? 'yup' : 'nope'}}</p>

        <p class="keep-white-space">browserLoopActive: {{ browserLoopIsActive ? 'yup' : 'nope' }} {{ browserLoopCount }} | web: {{ webTimestamp }} | native: {{ nativeTimestamp }}</p>
        <p class="keep-white-space">{{ loggingIn ? 'logging in..' : 'not logging in'}} | {{ loginCount }}</p>
        <p class="keep-white-space">fbUser: {{ fbUser ? (fbUser.email + ' | ' + fbUser.uid) : 'no fbUser found' }}</p>
        <p class="keep-white-space">users: {{ !users.length ? ' (none)' : users.length}}</p>
        <p class="keep-white-space" *ngFor="let user of users">{{ user.key }} | {{ user.email }}</p>
        <p class="keep-white-space">device: {{ device ? JSON.stringify(device) : "(No device)" }}</p>

        <p class="keep-white-space">fbUpdates: {{ !fbUpdates.length ? ' (none)' : fbUpdates.length}}</p>
        <p class="keep-white-space" *ngFor="let fbUpdate of fbUpdates">{{JSON.stringify(fbUpdate)}}</p>

        <!-- <button ion-button (click)="browserTest()">browserTest</button> -->
        <button ion-button (click)="browserLoopFunction()">Force Browser Loop instant / once</button>
        <button ion-button (click)="browserLoopFunction(6000)">Force Browser Loop 6000ms</button>
      </ng-container>
      
      <p>errors: {{ !errors.length ? ' (none)' : errors.length}}</p>
      <p *ngFor="let error of errors">{{JSON.stringify(error)}}</p>
  </div>
  
  <!-- <p class="keep-white-space">{{devDetails}}</p> -->
  </div>
</div>
