<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-keyboard-without-action" version="0.0.3">
    <name>Cordova Keyboard Without Action</name>
    <description>Cordova triggers keyboard and input focus without requiring a user action</description>
    <license>Apache 2.0</license>
    <keywords>cordova,keyboard,focus,user,action,trigger,WKWebKit,cordova-ios</keywords>
    <repo>https://github.com/americademy/cordova-keyboard-without-action</repo>
    <issue>https://github.com/americademy/cordova-keyboard-without-action/issues</issue>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="KeyboardWithoutUserAction">
                <param name="ios-package" value="KeyboardWithoutUserAction"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/KeyboardWithoutUserAction.h" />
        <source-file src="src/ios/KeyboardWithoutUserAction.m" />
    </platform>
</plugin>
