<div class="container" *ngIf="doDebug || errors && errors.length">
  <svg class="svg-icon block-icon">
    <use xlink:href="#block"></use>
  </svg>
  <div class="logo">
    <img src="https://firebasestorage.googleapis.com/v0/b/ourg-2c585.appspot.com/o/Networks%2FSMPL%2FOrgs%2FSMPL%20Headquarters%2Fcropped%2F-L83sRJBxYDYc-3YIQ_U%2F180118_smpl_talk_app_bannerlogo_black.png?alt=media&token=c11b7068-1dfc-4b08-a982-dd160420da3a">
  </div>
  <div class="error-content">
    <p class="error-description">{{errorDescription}}</p>
    <p class="error-type">{{errorTitle}}</p>
    <div class="more-details">
      <p class="error-options">Still having trouble?</p>
      <ul>
        <li><span>+</span> Clear your cache</li>
        <li><span>+</span> Close and reopen the app</li>
        <li><span>+</span> Click <a [href]="browserUrl || 'https://smpltalk.com/'" target="_blank">here</a> to use the browser version</li>
      </ul>
    </div>
  </div>
  <div class="error-dropdown" (click)='toggleDropdown()'>
    <p>View Advanced Diagnostics</p>
    <svg class="svg-icon normal large arrow">
      <use xlink:href="#arrow_drop_up"></use>
    </svg>
  </div>
  <div *ngIf="this.showDropdown" class="dev-details">
    
    <svg class="svg-icon large escape" (click)='toggleDropdown()'>
      <use xlink:href="#cancel"></use>
    </svg>

    <!-- Error listing -->
    <div class="dev-details-container">
      <!-- Debug mode -->
      <ng-container *ngIf="doDebug">
        <p>Debugger v0.54</p>



        <div class="buttons-container">
          <ion-button *ngIf="!browser" (click)="startBrowser()">Start browser</ion-button>
          <ion-button *ngIf="browser" (click)="showBrowser()">Show browser</ion-button>
          <ion-button (click)="toggleDebug()">Toggle Debug | status: {{doDebug ? 'On' : 'Off'}}</ion-button>
        </div>



        <p class="keep-white-space">Browser options: {{ options }}</p>

        <p class="keep-white-space json" [style.background]="'grey'">Browser: {{ browser ? JSON.stringify(browser, null, 4) : 'None' }}</p>
        
        <p class="keep-white-space">Native App Mode: {{nativeAppModeActivated ? 'Activated' : 'Not activated'}}</p>

        <p class="keep-white-space">browserLoopActive: {{ browserLoopIsActive ? 'Yes' : 'No' }} | {{ browserLoopCount || 0 }} | Timestamp: {{ browserLoopTimestamp || "None" }}</p>



        <div [style.background]="'grey'">
          <p>Browser loop log: {{ debugLog ? 'On' : 'Off' }}</p>

          <div *ngIf="debugLog" class="json">
            <ng-container *ngFor="let debugName of debugLogNames">
              <p>{{ debugName }}: {{ debugLog[debugName] ? 'On' : 'Off' }}</p>
              <ng-container *ngIf="debugLog[debugName]">
                <ng-container *ngIf="debugLog[debugName][2]">
                  <p>[2] {{ debugLog[debugName][2]['timestamp'] }} | {{ debugLog[debugName][2]['message'] }}</p>
                </ng-container>

                <ng-container *ngIf="debugLog[debugName][1]">
                  <p>[1] {{ debugLog[debugName][1]['timestamp'] }} | {{ debugLog[debugName][1]['message'] }}</p>
                </ng-container>

                <ng-container *ngIf="debugLog[debugName][0]">
                  <p>[0] {{ debugLog[debugName][0]['timestamp'] }} | {{ debugLog[debugName][0]['message'] }}</p>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
        
        

        <p class="keep-white-space">{{ loggingIn ? 'Logging in...' : 'Not logging in'}} | count: {{ loginCount || 0 }}</p>
        <p class="keep-white-space">fbUser: {{ fbUser ? (fbUser.email + ' | ' + fbUser.uid) : 'None' }}</p>
        <p class="keep-white-space">users: {{ !users.length ? ' None' : users.length}}</p>
        <p class="keep-white-space json" *ngFor="let user of users">{{ user.key }} | {{ user.email }}</p>



        <div [style.background]="'grey'">
          <p class="keep-white-space json">Device: {{ device ? JSON.stringify(device, null, 4) : "None" }}</p>

          <p>Notifications: {{ !notifications || !notifications.length ? 'None' : Notifications.length}}</p>
          <p *ngFor="let notification of notifications" class="json">{{JSON.stringify(notification, null, 4)}}</p>
        </div>



        <p class="keep-white-space">fbUpdates: {{ !fbUpdates.length ? 'None' : fbUpdates.length}}</p>
        <p class="keep-white-space json" *ngFor="let fbUpdate of fbUpdates">{{JSON.stringify(fbUpdate, null, 4)}}</p>



        <div class="buttons-container">
          <ion-button ion-button (click)="browserLoopFunction()">Browser Loop 0ms</ion-button>
          <ion-button ion-button (click)="browserLoopFunction(6000)">Browser Loop 6000ms</ion-button>
        </div>
      </ng-container>



      <p>errors: {{ !errors.length ? 'None' : errors.length}}</p>
      <p *ngFor="let error of errors" class="json">{{JSON.stringify(error, null, 4)}}</p>
  </div>
  
  </div>
</div>
